header {
  padding: 73px;
  color: white;
  // position: fixed;
  // left: 0;
  // right: 0;
  width: 100%;
  background-color: $clr4;
  // z-index: 1;

  .header-left-side {
    width: 16vw;
    .menu {
      width: 140px;
      p {
        cursor: pointer;
        margin: 0 20px;
      }
    }

    img {
      cursor: pointer;
      margin-right: 60px;
    }
  }

  .hamburger {
    display: none;
  }

  .vis-hide {
    position: absolute;
    left: -100vw;
  }
}

.btn {
  cursor: pointer;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 24px;
  width: 153px;
  height: 48px;
}

@include for-tablet-layout {
  header {
    padding: 64px 40px;
    .header-left-side {
      width: 16vw;
      img {
        width: 128px;
        height: 32px;
        margin-right: 28px;
      }
    }
  }
}

@media screen and (max-width: 556px) {
  header {
    padding: 48px 24px;
    .header-left-side {
      .menu {
        display: none;
      }
    }

    .btn {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
}
