// Primary
$clr1: #012F34;
$clr2: #2C6269;
$clr3: #F67E7E;
$clr4: #014E56;

//Accent

$clr5: hsl(176, 68%, 64%);
$clr6: hsl(198, 60%, 50%);

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1130px;

